<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Network Incident Report</title>
    <!-- MDB icon -->
    <link rel="icon" href="/images/Uganda_Christian_University_logo.png" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Other links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
    />


  </head>
  <body>


    <!--Main Navigation-->
    <header>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
              <img src="/images/ucu-logo.webp" height="40" alt="UCU Logo"
                loading="lazy" />
            </a>
            <!-- Left links -->
            <div class="container">
              <h4>NETWORK INCIDENT REPORT</h4>
            </div>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->


          <!-- Right elements -->
          <div class="d-flex align-items-center nav-icons">
            <!-- Icon -->
            <a class="text-reset me-3" href="https://www.facebook.com/UgandaChristianUniversity">
              <i class="fab fa-facebook"></i>
            </a>

            <a class="text-reset me-3" href="https://www.linkedin.com/school/uganda-christian-university/">
              <i class="fab fa-linkedin"></i>
            </a>

            <a class="text-reset me-3" href="https://twitter.com/UCUniversity">
              <i class="fab fa-twitter-square"></i>
            </a>

            <a class="text-reset me-3" href="https://www.youtube.com/channel/UCMryuGybZ_pZxqqeEIp_q4Q">
              <i class="fab fa-youtube-square"></i>
            </a>

          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main>
      <div class="container">
        <!-- Before the layout -->
        <br>
          <%- body %>
        <br>
        <!-- After the layouts -->


      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #d7014d; color: white;">
          © 2023 <a class="text-dark" href="https://ucu.ac.ug/">Uganda Christian University</a>. All Copyrights Reserved. Managed by Directorate of ICT Services
        </div>
        <!-- Copyright -->
      </footer>
    </footer>
    <!--Footer-->


    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
