  <div class="container mt-5 mb-5">
    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card border-0">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/images/aaron-burden-xG8IQMqMITM-unsplash.jpg" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">

            <p class="card-text"></p>

          </div>

          <div class="container">
            <div class="row">

              <div class="container">
                <div class="row mb-5">
                  <div class="col-md-2"></div>

                  <div class="col-md-8">
                    <h3 class="card-title mb-5">Fill in the form to report a network incident</h3>

                    <form id="report-form" action="/report-incident-form" method="POST">
                      <!-- Title input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="title" name="title" class="form-control" />
                        <label class="form-label" for="title">Title</label>
                        <div class="error"></div>
                      </div>

                      <!-- Date and time (date and time picker) input -->
                      <label for="incident-time"  class="form-label">Time of Incident</label>
                      <div class="form-outline datepicker mb-4" data-mdb-toggle-button="false">
                        <input
                          type="datetime-local"
                          class="form-control"
                          id="incident-time"
                          name="incident-time"
                          data-mdb-toggle="datepicker"
                        />
                      </div>

                      <!-- Reporter input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="reporter" name="reporter" class="form-control" />
                        <label class="form-label" for="reporter">Reporter</label>
                        <div class="error"></div>
                      </div>


                      <!-- Executive Summary input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="summary" name="summary" rows="4"></textarea>
                        <label class="form-label" for="summary">Executive Summary</label>
                        <div class="error"></div>
                      </div>

                      <!-- Time-line of the incident input -->
                      <div class="form-outline">
                        <textarea class="form-control" id="timeline" name="timeline" rows="4"></textarea>
                        <label class="form-label" for="timeline">Time-line of the Incident</label>
                        <div class="error"></div>
                      </div>
                      <div id="textExample1" class="form-text">
                        Use this format:
                        <ul>
                          <li>09:00 AM - Network outage was first reported by security head on site.</li>
                          <li>09:30 AM - The Ass. network administrator was notified of the outage</li>
                        </ul>
                      </div>

                      <!-- Root Cause analysis input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="root" name="root" rows="4"></textarea>
                        <label class="form-label" for="root">Root Cause Analysis</label>
                        <div class="error"></div>
                      </div>

                      <!-- impact input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="impact" name="impact" rows="4"></textarea>
                        <label class="form-label" for="impact">Impact</label>
                        <div class="error"></div>
                      </div>

                      <!-- Resolution input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="resolution" name="resolution" rows="4"></textarea>
                        <label class="form-label" for="resolution">Resolution</label>
                        <div class="error"></div>
                      </div>

                      <!-- Recommendation input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="recommendation" name="recommendation" rows="4"></textarea>
                        <label class="form-label" for="recommendation">Recommendation</label>
                        <div class="error"></div>
                      </div>

                      <!-- Conclusion input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="conclusion" name="conclusion" rows="4"></textarea>
                        <label class="form-label" for="conclusion">Conclusion</label>
                        <div class="error"></div>
                      </div>

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-outline-primary mb-4" data-mdb-ripple-color="dark">Send</button>
                    </form>

                  </div>

                  <div class="col-md-2"></div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-1"></div>

    </div>
  </div>
