  <div class="container mt-5 mb-5">
    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/images/aaron-burden-xG8IQMqMITM-unsplash.jpg" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">

            <p class="card-text"></p>

          </div>

          <div class="container">
            <div class="row">

              <div class="container">
                <div class="row mb-5">
                  <div class="col-md-2"></div>

                  <div class="col-md-8">
                    <h3 class="card-title mb-5">Fill in the form to report a network incident</h3>

                    <form>
                      <!-- Title input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="typeText" class="form-control" />
                        <label class="form-label" for="typeText">Title</label>
                      </div>

                      <!-- Date and time (date and time picker) input -->
                      <label for="exampleDatepicker1" class="form-label">Time of Incident</label>
                      <div class="form-outline datepicker mb-4" data-mdb-toggle-button="false">
                        <input
                          type="datetime-local"
                          class="form-control"
                          id="exampleDatepicker1"
                          data-mdb-toggle="datepicker"
                        />
                      </div>

                      <!-- Reporter input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="form4Example1" class="form-control" />
                        <label class="form-label" for="form4Example1">Reporter</label>
                      </div>


                      <!-- Executive Summary input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Executive Summary</label>
                      </div>

                      <!-- Time-line of the incident input -->
                      <div class="form-outline">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Time-line of the Incident</label>
                      </div>
                      <div id="textExample1" class="form-text">
                        Use this format:
                        <ul>
                          <li>09:00 AM - Network outage was first reported by security head on site.</li>
                          <li>09:30 AM - The Ass. network administrator was notified of the outage</li>
                        </ul>
                      </div>

                      <!-- Root Cause analysis input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Root Cause Analysis</label>
                      </div>

                      <!-- impact input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Impact</label>
                      </div>

                      <!-- Resolution input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Resolution</label>
                      </div>

                      <!-- Recommendation input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Recommendation</label>
                      </div>

                      <!-- Conclusion input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                        <label class="form-label" for="form4Example3">Conclusion</label>
                      </div>

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                    </form>

                  </div>

                  <div class="col-md-2"></div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-1"></div>

    </div>
  </div>
