<body>

  <div class="container" style="height: 500px; background-color: red">

    <div class="row" style="background-color: blue;">
      I am a first row
    </div>

    <div class="row" style="background-color: lightblue;">

      <div class="row">
        <div class="col-md-3">.col-md-4</div>
        <div class="col-md-6">.col-md-4</div>
        <div class="col-md-3">.col-md-4</div>
      </div>

    </div>

  </div>

</body>
