<!-- Varidation error message from the forms -->
<div class="" id="error">

</div>

  <div class="container mt-5 mb-5">
    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card border-0">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/images/timon-studler-BIk2ANMmNz4-unsplash.jpg" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">

            <p class="card-text"></p>

          </div>

          <div class="container">
            <div class="row">

              <div class="container">
                <div class="row mb-5">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <h3 class="card-title mb-5">Register User</h3>

                    <form id="register-form" action="/register" method="POST">
                      <!-- 2 column grid layout with text inputs for the first and last names -->
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="fname" name="fname" class="form-control" />
                            <label class="form-label" for="fname">First name</label>
                            <div class="error"></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="lname" name="lname" class="form-control" />
                            <label class="form-label" for="lname">Last name</label>
                            <div class="error"></div>
                          </div>
                        </div>
                      </div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="email1" name="email1" class="form-control" />
                        <label class="form-label" for="email1">Email address</label>
                        <div class="error"></div>
                      </div>

                      <!--Role of the user -->
                      <!-- 2 column grid layout with text inputs for the user role and department -->
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="role" name="role" class="form-control" />
                            <label class="form-label" for="role">Role</label>
                            <div class="error"></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="department" name="department" class="form-control" />
                            <label class="form-label" for="department">Department</label>
                            <div class="error"></div>
                          </div>
                        </div>
                      </div>

                      <!-- User permissions -->
                      <label for="type" class="form-label">Type : </label>
                      <select class="custom-select mb-4" style="border-color:grey; color:grey; border-radius: 5px;" id="type" name="type">
                        <option for="type" name= "viewer" value="viewer">Viewer</option>
                        <option for="type" name="editor" value="editor">Editor</option>

                      </select>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                        <div class="error"></div>
                      </div>



                      <!-- Submit button -->
                      <button type="submit" class="btn btn-outline-primary mb-3" data-mdb-ripple-color="dark">Register</button>


                    </form>
                  </div>

                  <div class="col-md-1"></div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-1"></div>

    </div>
  </div>
