<body>

  <div class="container mt-5 mb-5">
    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/images/timon-studler-BIk2ANMmNz4-unsplash.jpg" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <div class="card-body">

            <p class="card-text"></p>

          </div>

          <div class="container">
            <div class="row">

              <div class="container">
                <div class="row mb-5">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <h3 class="card-title mb-5">Register User</h3>

                    <form>
                      <!-- 2 column grid layout with text inputs for the first and last names -->
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" />
                            <label class="form-label" for="form3Example1">First name</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                            <label class="form-label" for="form3Example2">Last name</label>
                          </div>
                        </div>
                      </div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Email address</label>
                      </div>

                      <!--Role of the user -->
                      <!-- 2 column grid layout with text inputs for the user role and department -->
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                            <label class="form-label" for="form3Example2">Role</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                            <label class="form-label" for="form3Example2">Department</label>
                          </div>
                        </div>
                      </div>

                      <!-- User permissions -->
                      <select class="custom-select mb-4" style="border-color:grey; color:grey; border-radius: 5px;">
                        <option selected>Type </option>
                        <option value="1">Viewer</option>
                        <option value="2">Editor</option>

                      </select>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4" class="form-control" />
                        <label class="form-label" for="form3Example4">Password</label>
                      </div>



                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>


                    </form>
                  </div>

                  <div class="col-md-1"></div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-1"></div>

    </div>
  </div>

</body>
